/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
}
/*no margin for body*/ 

body {
    margin: 0;

}


/* all of elt take value of box-sizing from html*/
* {
    
    box-sizing: inherit;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}


/* Header and nav property*/ 

header
{
    margin-bottom: 20px;
}
.flex-space-row  
{
    display: flex;
    justify-content: space-between;
}
.navbar 
{
    align-items: center; 
}

.a-nav
{
    padding: 20px; 
}

.a-nav:hover 
{
    border-top: solid var(--main-color);
    color: var(--main-color); 
    padding-top: 10px; 
}

a 
{
    color: inherit;
    text-decoration: none;
}

.logo-img
{
    width: 100px;
    height: 50px;
    padding: 10px 0px; 
}


/*All of width parents and hide overflow*/

.w-100 
{
    overflow: hidden;
    width: 100%; 
}

.margin-top-bottom 
{
    margin-top: 30px;
    margin-bottom: 30px;

}

/*Css apply to label in form*/

.form-icon 
{
    color: #000000;
    background-color: var(--main-bg-color);
    padding: 9px 10px 12px;
    cursor: pointer; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

/* Property for Input search */

.form-search 
{
    padding: 5px 15px;
    color: #000000; 
    border: none;
    font-weight: bold;
    line-height: 24px; 
    font-size: 13px;
    width: 100%; 
}


::placeholder
{
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    text-align: center; 
}


/* Property for button form*/ 

.form-submit 
{
    background-color: var(--main-color); 
    color: var(--main-bg-color);
    border: none; 
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    white-space: normal;
    font-size: 14px;
    padding: 9px 10px 11px; 
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

/* Contener form search */
.form-border
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--main-bg-color);
    width: 298px;
    border-radius: 10px;
}

.form-submit i
{
    color: var(--main-bg-color); 
}


/* Property for filter-bar*/

.filter-bar
{
    display: flex;
    margin-top: 30px; 
    margin-bottom: 30px;
    gap: 10px;
    align-items: center; 
}

.filter-element 
{
    display: flex;
    gap: 10px;
}

.filter-bar  
{
    font-size: 14px;
    font-weight: bold; 
}

.tag-filter
{
    display: flex; 
    align-items: center;
    gap: 0px 5px;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px; 
    justify-content: center;
}

.tag-filter:hover
{
    background-color: var(--filter-bg-color);
}

.padding-8  
{
    padding: 4px 8px; 
}

/* Icon paragraph and Make circle icon*/ 

.flex-info
{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.p-info
{
    margin: 0px;
    padding-left: 10px; 
}

.fa-icon 
{
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 2px solid var(--main-bg-color); 
    text-align: center;
}


/* */ 

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/*Property hebergements cards*/ 

.hebergements-cards .card 
{
    margin-top: 33px;  
    display: flex; 
    flex-direction: column;
}

/* For image*/

.hebergements-cards img 
{
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

/*For content cards */

.hebergements-cards .card-content
{
    width: 100%; 
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cards a 
{
    width: 30%;
}
/*for card title*/

.hebergements-cards .card-title
{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 13px;
}

/* for card subtitle*/ 
.hebergements-cards .card-subtitle
{
    margin: 0;  
    font-size: 13px;
}

/* for duplicate cards hebergements*/

.hebergements-cards
{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.lien
{
    font-size: 16px;
    font-weight: bold; 
    line-height: 24px; 
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activity ***********/

.activity-section 
{
    box-sizing: border-box;
    padding: 30px; 
}

.activity
{
    width: 100%;
}


/*For cards Activity*/

/*customize card property*/ 
.card-actvty
{
    background-color: white;
    border-radius: 20px; 
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 370px;
}

.card-actvty img
{ 
    object-fit: cover; 
}

.activity-cards .card-actvty
{
    margin-top: 33px;  
    display: flex; 
    flex-direction: column;
}

/* For image*/
.activity-cards img 
{
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*For content cards */
.activity-cards .card-content
{
    width: 100%; 
    padding-left: 15px; 
}

/*for card title*/
.activity-cards .card-title
{
    padding-top: 10px;
    padding-bottom: 8px; 
    padding: 5px; 
}

/* for duplicate cards activity*/
.activity-cards
{
    display: flex; 
    justify-content: space-between;
}

.activity-cards a
{
  width: 23%;
}


/****** Footer ***********/

.footer-section
{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px; 
    margin-bottom: 0; 
    padding: 20px;
}

.footer-section p 
{
    font-size: 18px ;
    font-weight: bold;
    
}

.no-puce
{
    list-style-type: none; 
    line-height: 30px;
    font-size: 16px;
    padding-left: 0px;
}

/* each column take 30% for parents*/ 
.m-s-3{
    width: 30%;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Integrate height into card-activity so that all cards have the same size */
    .card-actvty
    {
        height: 240px; 
    }

    .activity-cards img 
    {
        height: 150px; 
    }

    .activity-cards .card-title
    {
        line-height: 18px;
        align-items: center;
    } 

    .filter-bar
    { 
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .filter-element
    {
        flex-wrap: wrap;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /*Remove padding*/
    .main-container
    {
        padding: 0px;
    }
    .logo-img {
        width: 120px;
       height: auto;
    }
      
    .w-100
    {
        padding: 0px 15px;
    }
    
    
    /* Hide input width value search in small device*/
    .input-hide
    {
        display: none;
    }


    /* Header for small device property*/

    .navbar
    {
        flex-direction: column; 
    }
    
    .logo-img
    {
        padding: 30px;
    }
   
    .a-nav:hover 
    {
        border-bottom: solid var(--main-color);
        border-top: none; 
    }
    .flex-space-row
    {
        width: 100%;
        justify-content: space-around;
    }
    /*Reverse the popular section in place of hostings for the mobile version*/ 
    .hebergements-and-populaires
    {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section
    {
        width: 100%;
    }

    /* Placing popular cards in columns*/ 
    .populaires-cards
    {
        flex-direction: column;
    }

    /*Take 100% of the width since they are in columns*/ 
    .populaires-cards a 
    {
        width: 100%; 
    }


    .hebergements-cards
    {
        flex-direction: column;
    }

    .hebergements-cards a 
    {
        width: 100%;
    }

    .hebergements-and-populaires section
    {
        border-radius: 0px; 
    }

    .hebergements
    {
        background-color: #ffffff !important;
    }


    /*Place Activity cards in columns*/
    .activity-cards
    {
        flex-direction: column;
    }

    .activity-cards a 
    {
        width: 100%; 
    }

    /* all of card of activity take normal size of content*/
    .card-actvty
    {
        height: auto;
    }

    /*To arrange footer elements in columns*/
    .footer-section
    {
        flex-direction: column;
    }

    .footer-section div 
    {
        width: 100%; 
    }

    .section-title
    {
        font-size: 18px; 
    }

    /*Reduce the size of the h2 info section*/ 
    .title-info
    {
        font-size: 15px; 
    }

    .card-title
    {
        font-size: 14px;
    }

    .a-nav
    {
        padding: 10px;
    }

    .title-para
    {
        font-size: 13px;
    }

    .form-search
    {
        font-size: 10px; 
    }

    ::placeholder
    {
        font-size: 10px; 
    }

    .padding-8
    {
        font-size: 12px; 
    }

    .p-info
    {
        font-size: 12px;
    }
    .fa-icon 
    {
        height: 25px;
        width: 25px;
        padding-top: 4px;
    }

    .form-submit
    {
        filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.1));
        border-radius: 10px;
    }
    .form-border
    {
        width: 100%;    
    }
    
    .input-size
    {
        width: 100%;
    }
    
    .tag-filter
    {
        width: 45%;
        gap: 13px;
    } 
}



/* The property below hides the button (l"icône loupe) in the desktop and tablet versions (768px to 1440px).*/ 

@media (max-width: 2000px) and (min-width:768px)
{
    .button-hide
    {
        display: none; 
    }
}

